@import "../variables.scss";
.header {
  background-color: $background-color;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__img {
  width: 200px;
  margin-top: 10px;
  margin-left: 10px;
}
.header__actions ul{
  margin-right: 30px;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content:flex-end;
}
.header__actions:hover ul, ul:hover{
  display: flex;
}
.header__actions a:hover{
  background-color: $blue3;
  color: white;
}

.header__actions a{
  display: block;
  padding: 1rem;
  text-decoration: none;
  color: blue3;
}
.header__actions input:checked ~ ul
{
  transform: none;
}

.header__menu{
    margin-right: 30px;
}
.header__menu ul {
    display: none;
    list-style: none;
    padding: 0px;
    position: absolute;
    width: 120px;
    text-align: right;
    margin: 0px 0px 0px -14px;
}
.header__menu:hover ul, ul:hover{
  display: block;
}
.header__menu li {
  margin: 10px 10px;
}
.header__menu li{
  color: $blue3;
  text-decoration: none;
}
.header__menu:hover, li:hover {
  text-decoration: underline;
  display: block;
}

.header__menu--profile {
    margin-right: 8px;
    display: flex;
    align-items: center;
}
.header__menu--profile img {
    margin-right: 8px;
    width: 40px;
}
.header__menu--profile p {
    margin: 0px;
    color: $blue3;
}
.header__burguer__menu--profile--photo {
  margin-top: -150px;
  display: flex;
  flex-direction: column;
  
}
.header__burguer__menu--profile--container{
  margin-right: 8px;
  width: 60px;
  height: 60px;
  border-radius: 15px;
  background: #cdcdcd
}
.header__burguer__menu--profile--photo--img{
  width: 60px;
  border-radius: 15px;
}
.header__burguer__menu--profile--photo--rating{
  position: relative;
  top: -22px;
  right: -31px;
  font-size: 11px;
  color: white;
  background: $blue3;
  border-radius: 25%;
  width: 30px;
  height: 30px;
  padding: 3px;
  font-family: $font2;
  font-weight: bold;
}
.header__burguer__menu--profile--photo--star{
  position: relative;
  width: 14px;
  top: -15px;
  right: -13px;
}




.header__burguer__menu--profile--photo--id{
  color: #232323;
  margin-top: 10px;
}
.header__burguer__menu--profile--photo--name{
  color: white;
  font-size: 1.3em;
  margin-top: 30px;
  
}
@media only screen and (min-width: 829px){
  .header__actions {
    display: block;
  }
  .header__burguer__menu {
    display: none;
  }
  .header__menu--profile {
    display: flex;
  }
}
@media only screen and (max-width: $max-width){
  .header__img {
    width: 200px;
    text-align: center;
    margin-top: 10px;
    margin-left: 10px;
  }
  .header__actions {
    display: none;
  }
  .header__menu--profile {
    display: none;
  }
  .header__burguer__menu {
    display: block;
    position: relative;
    top: 5px;
    left: 30px;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }


  .header__burguer__menu input{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */
    -webkit-touch-callout: none;
  }
  .header__burguer__menu--profile{
    position: absolute;
    width: 300px;
    margin: -70px 0 0 -50px;
    padding: 50px;
    padding-top: 225px;
    background: $blue3;
    opacity: .95;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  .header__burguer__menu input:checked ~ div
  {
    transform: none;
  }
  .header__burguer__menu ul {
    position: absolute;
    width: 300px;
    margin: 200px 0 0 -50px;
    padding: 50px;
    padding-top: 25px;
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  .header__burguer__menu li {
    padding: 10px 0;
    font-size: 22px;
  }
  .header__burguer__menu input:checked ~ ul
  {
    transform: none;
  }
  .header__burguer__menu a {
    text-decoration: none;
    color: $blue3;
    transition: color 0.3s ease;
  }
  .header__burguer__menu a:hover {
    color: $blue2;
  }

  .header__burguer__menu span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #cdcdcd;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  
  .header__burguer__menu span:first-child
  {
    transform-origin: 0% 0%;
  }
  
  .header__burguer__menu span:nth-last-child(3)
  {
    transform-origin: 0% 100%;
  }
   .header__burguer__menu input:checked ~ span
  {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }
   .header__burguer__menu input:checked ~ span:nth-last-child(4)
  {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
   .header__burguer__menu input:checked ~ span:nth-last-child(3)
  {
    transform: rotate(-45deg) translate(0, -1px);
  }
}