@import "../variables.scss";

.main__container__column{
    width: 40%;
    height: 600px;
    display: flex;
    flex-direction: column;
    background-color: $grey1;
}
.main__container__column--order{
    display: flex;
    flex-direction: column;
}
.main__container__column--price{
    height: 80px;
    display: flex;
    flex-direction: column;
}

.main__container__column--route{
    display: flex;
    flex-direction: column;
    height: 272px;
}
.main__container__column--route input{
  margin: 20px 10px 10px 10px;
  background-color: $background-color;
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  border: 1px solid $blue3;
  border-radius: 10px;
  font-size: 16px;
  font-family: $font-family;
  padding: 0px 20px;
  outline: none;
  height: 45px;
  width: 65%;
}

.main__container__column--order input{
    margin: 20px 10px 10px 10px;
    font-family: $font-family;
    border-radius: 10px;
    background-color: $blue2;
    font-size: 16px;
    height: 45px;
    width: 75%;
    font-size: 16px;
    color: $grey1;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
}
.main__container__column--price {
    display: flex;
    width: 60%;
    height: 150px;
    background-color: rgba(42, 42, 49, 0.959);
    color: white;
    border-radius: 15px;
    align-content: center;
    margin: 25px;
    padding: 10px;
    flex-direction: column;
    align-items: center;
}
.main__container__column--price label {
    padding: 0px 0px 7px 0px;
}
.main__container__column--order-modal{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.main__container__column--order-modal-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;    
}
.main__container__column--order-close-button{
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: lightgray;
}
.main__container__column--order-close-button:hover {
    background-color: darkgray;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    z-index:1;
}
.main__container__column--order-modal-content {
    text-align: center;
    align-content: center;
}
.main__container__column--order-modal__img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
}
.main__container__column--order-modal-content__principal{
    align-content: center;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: $max-width){
    .main__container__column{
        width: 100%;
        height: 600px;
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: $grey1;
    }
    .main__container__column--order input{
        width: 300px;
    }
    .main__container__column--route input{
        width: 300px;
    }
    .main__container__column--price{
        width: 300px;
    }
}