@import "variables.scss";

.login input {
    margin: 10px 0px;
    background-color: $background-color;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border: 1px solid $blue3;
    border-radius: 10px;
    font-size: 16px;
    font-family: $font-family;
    padding: 0px 20px;
    outline: none;
    height: 45px;
    width: 90%;
}

.login button{
    background-color: $blue2;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Muli', sans-serif;
    height: 50px;
    letter-spacing: 1px;
    margin: 10px 0px;
    width: 100%;

}
.login label {
    width: 40%;
    display: flex;
}
.login h2 {
    text-align: center;

}
.login {
    background: $grey1;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 30px;
    min-height: calc(100vh - 200px);
}
.login__container {
    background-color: rgba(255,255,255,0.2);
    border: 2px solid white;
    border-radius: 40px;
    color: $blue3;
    padding: 60px 68px 40px;
    min-height: 600px;
    width: 300px;
    display:flex;
    justify-content: space-around;
    flex-direction: column;
}
.login__container--form{
    display:flex;
    flex-direction: column;
}
.login__container--form label{
  font-size: 14px;
}
.login__container--remember-me{
  color:$blue3;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.login__container--remember-me input{
    margin: -15px;
    padding: 0px;
    transform: scale(.4);
}
.login__container--remember-me a{
  color:$blue3;
  font-size: 14px;
  text-decoration: none;
}
.login__container--remember-me a:hover{
  text-decoration: underline;
}
.login__container_social-media > div{
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-bottom: 10px;
}
.login__container_social-media > div > img{
  width: 30px;
  margin-right: 10px;
}
.login__container--register{
    font-size: 14px;
}
.login__container--register a {
  font-size: 16px;
  color: $blue3;
  font-weight: bold;
  text-decoration: none;
}
.login__container--register a:hover {
  text-decoration: underline;
}
::placeholder{
    color: $blue3;
}


  @media only screen and (max-width: 600px){
    .login__container{
      background-color: transparent;
      border: none;
      padding: 0px;
      width: 100%;
    }
}