/*********************
IMPORTS
**********************/

@import "header.scss";
@import "footer.scss";
@import "variables.scss";
@import "principal.scss";

body {
    margin: 0px;
    background-color: $background-color;
    font-family: $font-family;
}

