/*********************
VARIABLES
**********************/
$background-color: #FFF;
$primary-color:#99E265;
$secondary-color: #A3F06C;
$third-color: #6FA349;
$blue1:#82D9FF;
$blue2:#05C4E6;
$blue3:#416D80;
$text-color:#000;
$font-family: 'Fredoka One', cursive;