/*********************
VARIABLES
**********************/
$background-color: #FFF;
$primary-color:#99E265;
$secondary-color: #A3F06C;
$third-color: #6FA349;
$blue1:#82D9FF;
$blue2:#05C4E6;
$blue3:#416D80;
$grey1: rgb(225, 240, 247);
$text-color:#000;
$button-color: rgba(255,255,255,0.5);
$font-family: 'Fredoka One', cursive;
$font2: "Times New Roman", Times, serif;
$max-width: "830px";