@import "variables.scss";
body {
    margin: 0px;
    background-color: $background-color;
    font-family: $font-family;
}
.main__container{
    width: 100%;
    display: flex;
    flex-direction: row;
}
